
.card {
  border: 1px solid rgba(0, 0, 0, 0.4);
  /*box-shadow: 5px 5px 14px -1px rgba(0,0,0,0.75);*/
}

.card-header {
  background: rgb(199, 9, 18);
}

.btn-red {
  background: rgb(199, 9, 18) !important;
  color: white;
}

.btn-red:hover {
  background: white !important;
  color: rgb(199, 9, 18);
  border: 1px solid rgb(199, 9, 18);
  transition: all 200ms ease-in;
  transform: scale(1.04);
}

.menu {
  background: rgb(199, 9, 18) !important;
  color: white;
  max-height: 400px;
  min-height: 400px;
  margin-left: 0;
}

.menu-items {
  width: 100%;
  margin: 0;
  padding: 0;
}
.menu-items li {
  list-style-type: none;
  width: 100%;
  margin-left: 10px;
}

.menu-items a{
  text-decoration: none !important;
  color: white;
  padding-right: 3rem;
  padding-left: -3rem;
}
.menu-items a:hover{
  color:  rgb(199, 9, 18);
  background-color: white;
}
.menu-items li:hover {
  
  transition: all 200ms ease-in;
  transform: scale(1.04);
}

.active {
  background: white;
  border-right: 8px double  rgb(199, 9, 18);
}

.active a {
  color: rgb(199, 9, 18) !important;
}

.label {
  font-size: 1.2rem;
}
.label-2 {
  font-size: 1.4rem;
}

.content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 75%;
  margin-right: 0;
  padding-right: 0;
}

.container {
  margin-right: 0;
  margin-left: 0;
  max-width: 3000px;
}

.hr{
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 90%;
  margin-top: 8px;
  margin-bottom: 8px;
}
